---
import { API_URL } from "astro:env/client";

import PocketBase from "pocketbase";
import { DateTime } from "luxon";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const pb = new PocketBase(API_URL);
  const records = await pb
    .collection("articles")
    .getFullList({ filter: "isActive=true" });

  if (records.length === 0) {
    return [];
  }

  return records.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
---

<Layout>
  <div class="max-w-5xl mx-auto p-6 pt-12">
    <div class="flex flex-col">
      <div
        class="flex flex-col sm:flex-row justify-between items-center sm:items-start"
      >
        <h1 class="text-3xl font-bold text-center sm:text-left w-full">
          {article.title}
        </h1>
        <p
          class="text-center sm:text-right text-xs text-gray-500 mt-2 sm:mt-0 w-full sm:w-auto whitespace-nowrap"
        >
          Publié le {
            DateTime.fromSQL(article.releaseDate)
              .setLocale("fr")
              .toFormat("dd MMMM yyyy")
          }
        </p>
      </div>

      <div class="mt-6">
        {
          article.images.length > 0 && (
            <img
              src={`${API_URL}/api/files/articles/${article.id}/${article.images[0]}`}
              alt={article.title}
              class="w-full sm:w-1/3 float-left mr-6 mb-6 rounded-sm"
              loading="lazy"
            />
          )
        }
        <article
          class="prose max-w-none text-justify"
          set:html={article.content}
        />
      </div>
    </div>
    <div class="bg-madRed text-madBack p-4 mt-10 md:mt-22 rounded-xl">
      <article set:html={article.extra} />
    </div>
  </div>
</Layout>
