---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import paperText from "../assets/photos/bank/paperText.jpg";
import theaterRoomSideLeft from "../assets/photos/bank/theaterRoomSideLeft.jpg";
import redTheaterCurtain from "../assets/photos/bank/redTheaterCurtain.jpg";
import theaterRoom from "../assets/photos/bank/theaterRoom.jpg";
import lonelyChair from "../assets/photos/bank/lonelyChair.jpg";

// ! Ajouter le SEO des pages
---

<Layout>
  <div class="flex flex-col items-center justify-center">
    <h1 class="mt-5 max-w-7xl p-2 text-center text-xl font-bold md:text-2xl">
      Oser le jeu • Frôler la folie<br /> avec Act In Mad
    </h1>
    <div
      class="flex flex-wrap items-center justify-center space-y-4 rounded-3xl p-4"
    >
      <div class="flex w-full justify-center space-x-4 md:w-auto">
        <a
          href="#ateliers"
          class="text-madBack bg-madRed hover:bg-madEncart flex w-full items-center justify-center rounded-xl px-5 py-2 text-center font-semibold md:w-80 md:text-xl"
        >
          Ateliers Spectacles
        </a>
        <a
          href="#impro"
          class="text-madBack bg-madRed hover:bg-madEncart flex w-full items-center justify-center rounded-xl px-5 py-2 text-center font-semibold md:w-80 md:text-xl"
        >
          Act'Impro
        </a>
      </div>
      <div class="flex w-full justify-center md:mb-4 md:ml-4 md:w-auto">
        <a
          href="#cours"
          class="text-madBack bg-madRed hover:bg-madEncart flex w-full items-center justify-center rounded-xl px-5 py-2 text-center font-semibold md:w-80 md:text-xl"
        >
          Cours de Théâtre
        </a>
      </div>
    </div>

    <div class="mt-5 flex w-full max-w-6xl flex-col p-4 md:flex-row md:p-6">
      <h1
        id="ateliers"
        class="text-madRed text-center text-2xl md:text-left md:text-3xl"
      >
        Les Ateliers Spectacles
      </h1>
    </div>

    <div
      class="-mt-6 flex w-full max-w-6xl flex-col gap-6 p-4 md:-mt-8 md:flex-row md:p-6"
    >
      <div
        class="flex flex-col justify-center text-center md:w-2/3 md:text-left"
      >
        <p class="text-justify leading-snug">
          Chez Act In Mad, nous avons révolutionné la formule des Ateliers
          Théâtre que nous avons d’ailleurs rebaptisés<span
            class="text-madRed font-bold"
          >
            “Ateliers Spectacles”</span
          >.
          <span class="mt-3 block"></span>
          Chaque année, les professeur·e·s metteur·e·s en scène se trouvent confronté·e·s
          au défi de sélectionner des pièces offrant un nombre équitable de répliques
          et de temps de présence sur scène pour tou·te·s. Cette contrainte conduit
          souvent à la répétition des mêmes œuvres ou à l'assemblage artificiel de
          plusieurs pièces, nuisant à l'intégrité des textes originaux. <span
            class="mt-3 block"></span>

          Pour remédier à cela, nous proposons des pièces originales où les
          rôles ne sont pas modifiés. Les apprenti·e·s comédien·ne·s
          s'inscrivent pour un rôle spécifique, et le tarif est ajusté en
          fonction de l'importance de ce rôle. Il y a mêmes des rôles “offerts”
          ce qui revient à prendre des cours de théâtre gratuit ! Une audition
          est ensuite organisée pour chaque apprenti·e comédien·ne et la
          distribution est effectuée par le·la metteur·e en scène. Nous
          valorisons en priorité la passion et l'enthousiasme de chaque
          participant·e, indépendamment de son niveau d’expérience. <span
            class="block mt-3"></span>

          Cette approche permet à chacun·e de vivre pleinement son expérience
          théâtrale, tout en respectant l'œuvre des auteur·e·s, et garantit la
          production d’un spectacle de qualité dont tout le monde sera fier·e !
        </p>
      </div>
      <div class="flex items-center justify-center md:w-1/3 md:justify-end">
        <Image
          src={paperText}
          alt="Support papier d'un texte de théâtre"
          class="hidden h-full w-full object-cover md:block"
        />
      </div>
    </div>

    <div
      class="mb-4 flex w-full max-w-6xl flex-col gap-6 p-4 md:flex-row md:p-6"
    >
      <div class="flex items-center justify-center md:w-1/3 md:justify-end">
        <Image
          src={theaterRoomSideLeft}
          alt="Comediens repetant leurs cours de theatre"
          class="h-full w-full object-cover"
        />
      </div>
      <div
        class="flex flex-col justify-center text-left leading-snug md:w-2/3 md:text-left"
      >
        <p class="text-justify">
          Ce nouveau concept d'Atelier<span class="text-madRed font-bold">
            "Pay as you play”
          </span>
          prend ses racines au cœur de la phrase de Constantin Stanislavski : <span
            class="text-madRed"
            >"Il n'y a pas de petits rôles, il n'y a que de petits
            acteur·rice·s."</span
          >
          <span class="mt-3 block"></span>
          Pleinement en accord avec nos valeurs que sont le <span
            class="text-madRed">jeu</span
          >, la <span class="text-madRed">créativité</span> et l’<span
            class="text-madRed">esprit d’équipe</span
          >, nous pensons également que la grandeur d'un personnage ne dépend
          pas de sa taille mais de la manière dont l'acteur·rice le fait vivre.
          Chaque personnage, qu’iel soit principal·e ou secondaire, joue un rôle
          essentiel dans l’ensemble de l’histoire même s'il n'a qu'une réplique
          et chaque rôle est, pour l’apprenti·e comédien·ne, une occasion unique
          de <span class="text-madRed"> créativité </span>
          artistique autour du <span class="text-madRed"> jeu</span>.<span
            class="mt-3 block"></span>
          En permettant aux apprenti·e·s comédien·ne·s de choisir un rôle spécifique
          et en ajustant le tarif en fonction de l'importance de ce rôle, nous encourageons
          chacun·e à donner le meilleur de lui·elle-même, indépendamment de la taille
          du rôle.
        </p>
      </div>
    </div>

    <div class="mb-10 flex max-w-6xl justify-center p-2 md:mb-32">
      <div class="text-center">
        <h2 class="text-madRed text-2xl md:text-4xl">
          « Il n'y a pas de petits rôles, il n'y a que des petits acteurs »
        </h2>
        <p class="text-madRed text-right text-xl italic">
          Constantin Stanislavski
        </p>
      </div>
    </div>

    <div
      class="relative flex w-full flex-col items-center justify-center pb-8 pt-6"
    >
      <Image
        src={redTheaterCurtain}
        alt="rideau de théâtre fermé de couleur rouge"
        class="hidden h-auto w-full object-cover md:absolute md:top-0 md:block md:h-full md:-translate-y-6"
      />
      <div class="z-10 w-full max-w-7xl">
        <h2 class="md:text-madBack text-center text-2xl font-bold md:text-3xl">
          Pourquoi choisir Act In Mad ?
        </h2>
        <div
          class="text-madBack grid grid-cols-1 gap-2.5 p-4 text-center leading-tight md:grid-cols-2 md:gap-6 md:p-16"
        >
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Vous connaissez la pièce à l’avance</span
              ><br />
              Inscrivez-vous en toute transparence !
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Des rôles adaptés à vos envies et à votre emploi du temps</span
              ><br />
              Postulez pour un ou plusieurs rôles selon vos disponibilités.
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Un investissement juste et proportionnel</span
              ><br />
              Plus vous êtes présent·e sur scène, plus vous avez de répliques, plus
              vous êtes impliqué·e !
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Un nombre de participant·e·s limité</span
              ><br />
              Pas plus d’apprenti·e·s comédien·ne·s que de personnages.
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Des pièces rares et originales</span
              ><br />
              Osez interpréter des œuvres hors du commun, rarement proposées en Atelier
              théâtre.
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Des metteur·e·s en scène passionné·e·s et bienveillant·e·s</span
              ><br />
              Apprenez auprès de professionnel·le·s qui vous guideront avec pédagogie.
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Une audition pour révéler votre potentiel</span
              ><br />
              Rejoignez-nous après une sélection bienveillante, basée sur votre énergie
              et votre envie de jouer.
            </div>
          </div>
          <div
            class="bg-madRed flex h-auto items-center justify-center rounded-2xl p-6"
          >
            <div>
              <span class="font-bold md:text-lg"
                >Un vrai théâtre pour votre spectacle</span
              ><br />
              Présentez votre pièce lors de 3 représentations reconductibles la saison
              suivante.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 flex w-full max-w-6xl flex-col p-4 md:flex-row md:p-6">
      <h1
        id="impro"
        class="text-madRed text-center text-2xl md:text-left md:text-3xl"
      >
        Act'Impro
      </h1>
    </div>
    <div
      class="-mt-8 flex w-full max-w-6xl flex-col gap-6 p-4 md:flex-row md:p-6"
    >
      <div
        class="flex flex-col justify-center text-left leading-snug md:w-2/3 md:text-left"
      >
        <p class="text-justify">
          Le cours d’improvisation sans précédent !
          <span class="mt-3 block"></span>
          Ce programme unique est spécialement conçu pour tou·te·s ceux et celles
          qui souhaitent s’amuser, libérer leur créativité et développer leurs compétences
          scéniques
          <span class="text-madRed font-bold"> en un temps record.</span>
        </p><span class="mt-3 block"></span>
        <ul class="ml-4 list-outside list-disc">
          <p class="-ml-4">Ce qui rend Act'Impro unique ?</p>
          <li class="mb-2 text-left">
            <span class="text-madRed font-bold"
              >1 spectacle après 5 cours
            </span>
            : Contrairement aux cours traditionnels, Act'Impro vous fait monter sur
            scène pour présenter votre spectacle d'improvisation toutes les 5 séances
            !
          </li>
          <li class="mb-2 text-left">
            <span class="text-madRed font-bold">4 sessions par an </span>
            : Avec 4 sessions de 5 cours réparties tout au long de l'année, vous
            avez la flexibilité de choisir le moment qui vous convient le mieux pour
            vous lancer dans cette aventure audacieuse !
          </li>
          <li class="mb-2 text-left">
            <span class="text-madRed font-bold">Ouvert à tou·te·s </span>
            : Que vous soyez débutant·e·s ou que vous ayez déjà une expérience de
            la scène, Act'Impro est conçu pour accueillir tout le monde ! Les exercices
            et les techniques enseigné·e·s sont ultra personnalisé·e·s pour vous
            permettre de progresser à votre rythme, dans une ambiance bienveillante
            et énergisante avec une place pour chacun·e dans le spectacle !
          </li>
          <li class="mb-2 text-left">
            <span class="text-madRed font-bold">Flexibilité </span>
            : Inscrivez-vous pour le nombre de sessions que vous voulez ! 1 session
            = 5 semaines d’engagement suivies de votre spectacle le lendemain du
            dernier cours !
          </li>
          <p class="-ml-4">
            Act’Impro s’inscrit pleinement au coeur de notre devise<span
              class="text-madRed"
            >
              Oser le jeu • Frôler la folie
            </span> !
          </p>
        </ul>
      </div>
      <div class="flex md:w-1/3 md:justify-end">
        <div class="flex items-center justify-center">
          <Image
            src={lonelyChair}
            alt="Chaise seule sur scène"
            class="h-full w-full object-cover"
          />
        </div>
      </div>
    </div>

    <div class="mt-5 flex w-full max-w-6xl flex-col p-4 md:flex-row md:p-6">
      <h1
        id="cours"
        class="text-madRed text-center text-2xl md:text-left md:text-3xl"
      >
        Les Cours de Théâtre
      </h1>
    </div>
    <div
      class="-mt-6 flex w-full max-w-6xl flex-col gap-6 p-4 md:-mt-8 md:flex-row md:p-6"
    >
      <div
        class="flex flex-col justify-center text-left leading-snug md:w-2/3 md:text-left"
      >
        <p class="text-justify">
          Pour celles et ceux qui ne souhaitent pas rejoindre un Atelier
          Spectacle, Act In Mad propose également des cours de théâtre plus
          “classiques” où seront abordées les techniques de base du jeu :
        </p>
        <ul class="ml-4 mt-4 list-outside list-disc">
          <li class="mb-2 text-left">Respiration et projection vocale.</li>
          <li class="mb-2 text-left">
            Développement de la diction et de l'articulation
          </li>
          <li class="mb-2 text-left">Mémorisation de texte</li>
          <li class="mb-2 text-left">Interprétation des émotions</li>
          <li class="mb-2 text-left">
            Exercices de relaxation et de prise de conscience corporelle
          </li>
          <li class="mb-2 text-left">
            Techniques de respiration diaphragmatique pour soutenir la voix
          </li>
          <li class="mb-2 text-left">
            Travail sur la posture et le mouvement scénique
          </li>
          <li class="mb-2 text-left">
            Exercices d'improvisation pour développer la spontanéité et la
            créativité
          </li>
          <li class="mb-2 text-left">
            Techniques pour réagir et interagir avec les partenaires de jeu de
            manière naturelle
          </li>
          <li class="mb-2 text-left">
            Techniques pour accéder et exprimer une gamme d'émotions
          </li>
          <li class="mb-2 text-left">
            Travail sur la connexion émotionnelle avec le texte et les
            personnages
          </li>
        </ul>
        <p class="text-justify mt-4">
          Les cours de théâtre, également accessibles aux enfants, donnent lieu
          à 3 représentations dans un vrai théâtre (1 représentation pour les
          enfants, nous consulter pour les tranches d’âge).
        </p>
      </div>
      <div class="flex items-center justify-center md:w-1/3 md:justify-end">
        <Image
          src={theaterRoom}
          alt="Comediens sur seine entrain de faire une italienne"
          class="hidden h-full w-full object-cover md:block"
        />
      </div>
    </div>
  </div>
</Layout>
