---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import affiche from "../assets/photos/unAireDeFamille/affiche.jpg";
import betty from "../assets/photos/unAireDeFamille/betty.jpg";
import famille from "../assets/photos/unAireDeFamille/famille.jpg";
import henri from "../assets/photos/unAireDeFamille/henri.jpg";
import dossierPresse from "../assets/photos/unAireDeFamille/dossierPresse.pdf";

// ! Ajouter le SEO des pages
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 mt-5">
      <h1 class="text-madRed text-2xl md:text-3xl text-center md:text-left">
        Présentation
      </h1>
    </div>

    <div
      class="flex flex-col md:flex-row max-w-6xl p-4 md:p-6 gap-6 justify-center items-center -mt-6 md:-mt-8"
    >
      <div class="text-center md:text-left flex flex-col justify-center">
        <p class="text-justify leading-snug">
          Act In Mad est une compagnie de théâtre détentrice d’une licence de
          spectacle qui a notamment produit Un Air de Famille d’Agnès Jaoui et
          Jean-Pierre Bacri, au Théâtre Le Guichet Montparnasse à Paris début
          2025.<span class="block mt-3"></span>
          Fondée par Corinne Azzoug, Act In Mad propose également des versions originales
          et novatrices de cours de théâtre, d’Ateliers Spectacles et des cours d’Improvisation
          : Act’Impro<span class="block mt-3"></span>
          Que ce soit en étant apprenti.e comédien.ne ou comédien.ne de la compagnie,
          Act In Mad permet à tous les fous amoureux du théâtre d’explorer leur créativité,
          de renforcer leur esprit d'équipe et de s'épanouir à travers le jeu !
        </p>
      </div>
    </div>

    <div class="w-full max-w-6xl text-right mb-20">
      <h2
        class="px-2 py-2 text-2xl md:text-3xl text-madRed italic whitespace-nowrap"
      >
        Oser le jeu • Frôler la folie !
      </h2>
    </div>

    <div
      class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 -mt-6 md:-mb-8"
    >
      <h1 class="text-madRed text-xl md:text-3xl text-center md:text-left">
        Les projets de la Compagnie
      </h1>
    </div>

    <div class="flex flex-col p-4 md:p-6 w-full max-w-6xl">
      <div class="flex flex-col md:flex-row gap-6 w-full">
        <div class="flex items-center justify-center md:w-1/3">
          <Image
            src={affiche}
            alt="Affiche de la pièce 'Un Air de Famille' de Agnès Jaoui et Jean-Pierre Bacri"
            class="w-full object-cover rounded"
          />
        </div>
        <div class="flex flex-col md:flex-1">
          <h3 class="text-2xl font-bold text-left md:mb-4">
            Un air de famille
          </h3>
          <div class="text-justify flex-1 leading-snug">
            <p class="">
              Une comédie acerbe et savoureuse sur les liens familiaux qui nous
              unissent... et nous étouffent parfois !
              <span class="block mt-3"></span>
              Chaque vendredi soir, la famille Mesnard se réunit au café familial
              avant d'aller au restaurant. Mais ce soir, entre rancunes, règlements
              de comptes et maladresses, l'ambiance vire au chaos, révélant les non-dits
              et les frustrations enfouies. Cette soirée ordinaire devient inoubliable...
              <span class="block mt-3"></span>
              Ne manquez pas cette pièce culte où chaque réplique fait mouche !
              <span class="block mt-3"></span>
              Une pièce d’Agnès Jaoui et Jean-Pierre Bacri.<br />
              Mise en scène : Corinne Azzoug <br />
              Décors : Erwan Daubenfeld
              <span class="block mt-3"></span>
              <strong>DISTRIBUTION</strong>
              <ul class="">
                <li>Denis : Fred Eyangoh</li>
                <li>Henri : Jean-Baptiste Bazin</li>
                <li>Betty : Elaine Storck</li>
                <li>Philippe : Christopher Caulier</li>
                <li>La Mère : Corinne Azzoug</li>
                <li>Yolande : Maud Plessis</li>
              </ul>
              <span class="block mt-3"></span>
              <a
                href={dossierPresse}
                target="_blank"
                class="font-semibold text-madBack bg-madRed rounded-xl hover:bg-madEncart px-3 py-2"
                >Dossier de presse</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row items-center gap-4 w-full max-w-6xl p-6"
    >
      <Image
        src={henri}
        alt="Photo de Denis dans la pièce 'Un Air de Famille'"
        class="hidden md:block w-full md:w-1/3 object-cover rounded"
      />
      <Image
        src={famille}
        alt="Photo de la troupe entière de 'Un Air de Famille'"
        class="w-full md:w-1/3 object-cover rounded"
      />
      <Image
        src={betty}
        alt="Photo de Betty dans la pièce 'Un Air de Famille'"
        class="hidden md:block w-full md:w-1/3 object-cover rounded"
      />
    </div>
  </div>
</Layout>
