---
import Layout from "../layouts/Layout.astro";
import BioCard from "../components/static/BioCard.astro";
import { pb } from "../lib/pocketbase";
import { PB_BUILDER_EMAIL, PB_BUILDER_PASSWORD } from "astro:env/server";

await pb
  .collection("users")
  .authWithPassword(PB_BUILDER_EMAIL, PB_BUILDER_PASSWORD);

const records = await pb
  .collection("equipes")
  .getFullList({ filter: "isActive=true", sort: "+created" });

const fondateurs = records.filter((record) => record.type.includes("founders"));
const profs = records.filter((record) => record.type.includes("profs"));
const comediens = records.filter((record) => record.type.includes("comediens"));
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <div class="mt-5 w-full max-w-6xl">
      <div class="p-4 md:p-6">
        <h1 class="text-madRed text-center text-2xl md:text-left md:text-3xl">
          Les Professeur·e·s Metteur·e·s en scène
        </h1>
      </div>
      <div class="-mt-6 p-4 md:-mt-8 md:p-6">
        <p class="text-justify leading-snug">
          Les professeur·e·s de théâtre chez Act In Mad sont avant tout des
          comédien·ne·s et des metteur·e·s en scène rigoureusement
          sélectionné·e·s qui vivent de leur métier, et ont à cœur de
          transmettre leur passion à des amateur·e·s, eux·elles-mêmes
          passionné·e·s par les arts de la scène.<span class="mt-3 block"
          ></span>
          Iels sont comédien·ne·s, metteur·e·s en scène, voix off ou bien encore
          iels doublent vos séries préférées ou les dessins animés de vos enfants
          !<span class="mt-3 block"></span>
          Tou·te·s ont suivi une formation professionnelle au métier de comédien·ne·s.
          Iels sont expérimenté·e·s, pédagogues et dispensent un enseignement de
          qualité dans le respect et le plaisir de la personnalité de chacun·e.
        </p>
      </div>
    </div>
    <div class="w-full max-w-6xl space-y-8 leading-snug">
      {
        profs.map((prof) => (
          <BioCard
            name={`${prof.prenom} ${prof.nom}`}
            instaLink={prof.instagram}
            photo={pb.files.getURL(prof, prof.photo)}
            bio={prof.description}
          />
        ))
      }
    </div>

    <div class="mt-5 w-full max-w-6xl">
      <div class="p-4 md:p-6">
        <h1 class="text-madRed text-center text-2xl md:text-left md:text-3xl">
          Les Comédien·ne·s de la Compagnie
        </h1>
      </div>
      <div class="-mt-6 p-4 md:-mt-8 md:p-6">
        <p class="text-justify leading-snug">
          Issu·e·s d’horizons différents, les comédiennes et comédiens de la
          Compagnie sont talentueux, pluri-disciplinaires, audacieux et ouverts
          de cœur et d’esprit ! Toute l’équipe travaille ensemble et forme la
          Famille Mesnard dans Un Air de Famille, mise en scène par Corinne
          Azzoug.
        </p>
      </div>
      <div class="w-full max-w-6xl space-y-8 leading-snug">
        {
          comediens.map((comedien) => (
            <BioCard
              name={`${comedien.prenom} ${comedien.nom}`}
              instaLink={comedien.instagram}
              photo={pb.files.getURL(comedien, comedien.photo)}
              bio={comedien.description}
            />
          ))
        }
      </div>

      <div class="mt-5 w-full max-w-6xl">
        <div class="p-4 md:p-6">
          <h1 class="text-madRed text-center text-2xl md:text-left md:text-3xl">
            Les Fondateurs-trices
          </h1>
        </div>
      </div>
      <div class="w-full max-w-6xl space-y-8 leading-snug">
        {
          fondateurs.map((fondateur) => (
            <BioCard
              name={`${fondateur.prenom} ${fondateur.nom}`}
              instaLink={fondateur.instagram}
              linkedIn={fondateur.linkedIn}
              photo={pb.files.getURL(fondateur, fondateur.photo)}
              bio={fondateur.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
