---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import theaterRoom from "../assets/photos/bank/theaterRoom.jpg";
import theaterRoomZoom from "../assets/photos/bank/theaterRoomZoom.jpg";
import clapClap from "../assets/photos/bank/clapClap.jpg";
import curtainLady from "../assets/photos/bank/curtainLady.jpg";
import groupFest from "../assets/photos/bank/groupFest.jpg";

// import { Props } from 'astro';
// import SEO from '../layouts/Seo.astro';
// import Footer from '../components/Footer.astro';

// const seo: Props = {
//   title: 'Bienvenue - Act In Mad',
//   description: 'Découvrez nos cours de théâtre et spectacles amateurs à Paris.',
//   canonical: 'https://actinmad.art/',
// };
---

<!-- <SEO {...seo} /> -->
<Layout>
  <div class="relative h-[80vh] overflow-hidden md:h-screen">
    <Image
      src={theaterRoom}
      alt="Cours de théâtre sur scène"
      class="absolute h-full w-full object-cover object-top"
      loading="eager"
      widths={[400, 800, 1200, 1800, 2400]}
      sizes="(max-width: 768px) 80vw, 80vw"
      quality={90}
    />

    <div class="absolute mt-10 mr-4 ml-4 w-full p-4 text-white">
      <div class="mx-auto max-w-7xl p-4 text-madBack">
        <h1 class="text-left text-xl md:text-3xl">
          Découvrez <strong>Act In Mad</strong><br />
          Une expérience théâtrale unique<sup class="text-sm">*</sup> pour tous les
          amateurs,<br />
          des rôles sur mesure et des pièces originales, encadrée par des professionnel·le·s
          !
          <br />
        </h1>
        <div class="mt-2 mr-3 flex max-w-7xl md:justify-end">
          <p class="text-xs md:text-sm">
            <sup>*</sup>Oser le jeu • Frôler la folie !
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center gap-4 bg-madRed py-6 text-center text-2xl text-madBack md:flex-row md:gap-32"
  >
    <h2>Ateliers Spectacles</h2>
    <h2>Cours de Théâtre</h2>
    <h2>Act'Impro</h2>
  </div>

  <div class="h-[300px] w-full overflow-hidden md:h-[500px]">
    <Image
      src={theaterRoomZoom}
      alt="Cours de théâtre sur scène, interaction entre élèves"
      class="h-full w-full object-cover object-center"
      widths={[400, 800, 1200, 1800, 2400]}
      sizes="(max-width: 768px) 80vw, 80vw"
      quality={80}
    />
  </div>

  <div
    class="flex flex-col items-stretch justify-center gap-8 px-4 py-8 md:flex-row md:px-0"
  >
    <div
      class="flex min-h-[230px] w-full flex-col rounded-lg bg-madRed p-6 shadow-lg md:w-[30%]"
    >
      <h3 class="mb-4 text-center text-2xl font-semibold text-madBack">
        Ateliers Spectacles
      </h3>
      <p class="flex grow text-justify leading-snug text-madBack">
        Act In Mad réinvente les ateliers théâtre avec ses 'Ateliers
        Spectacles'. <span class="mt-3 block"></span>
        Selon votre temps et/ou votre budget, c’est vous qui choisissez un rôle spécifique
        dans une pièce originale rarement montée en atelier classique. <span
          class="mt-3 block"></span>
        Une expérience théâtrale unique, respectueuse des œuvres et accessible à
        tous les niveaux, où chaque rôle est une perspective de créativité.
      </p>
    </div>
    <div
      class="flex min-h-[300px] w-full flex-col rounded-lg bg-madRed p-6 shadow-lg md:w-[30%]"
    >
      <h3 class="mb-4 text-center text-2xl font-semibold text-madBack">
        Cours de Théâtre
      </h3>
      <p class="flex grow text-justify leading-snug text-madBack">
        Pour les personnes qui préfèrent une approche traditionnelle, Act In Mad
        propose des cours de théâtre classiques. <span class="mt-3 block"
        ></span>
        Découvrez les techniques de base du jeu : respiration, mémorisation, interprétation
        des émotions, diction, relaxation, improvisation. <span
          class="mt-3 block"></span>
        Développez votre spontanéité et votre connexion émotionnelle avec le texte
        et les personnages.
      </p>
    </div>
    <div
      class="flex min-h-[300px] w-full flex-col rounded-lg bg-madRed p-6 shadow-lg md:w-[30%]"
    >
      <h3 class="mb-4 text-center text-2xl font-semibold text-madBack">
        Act'Impro<sup class="text-sm">*</sup>
      </h3>
      <p class="flex grow text-justify leading-snug text-madBack">
        Osez le cours inédit de l’improvisation théâtrale chez Act In Mad ! <span
          class="mt-3 block"></span>
        C’est un programme unique spécialement conçu pour libérer votre créativité
        et développer vos compétences scéniques en un temps record.
        <span class="mt-3 block"></span>
        Ce qui rend Act'Impro unique ?<br /> Un spectacle après 5 cours seulement
        !
        <p class="relative top-5 text-right text-sm text-madBack">
          <sup>*</sup>Inscription possible par session de 5 cours
        </p>
      </p>
    </div>
  </div>

  <div class="relative flex w-full items-center justify-center py-6">
    <Image
      src={clapClap}
      alt="Public dans une salle de théâtre qui applaudit"
      class="hidden h-auto w-full object-cover blur md:block"
      widths={[400, 800, 1200, 1800, 2400]}
      sizes="(max-width: 768px) 80vw, 80vw"
      quality={50}
    />
    <div class="rounded-3xl bg-madBack p-4 text-center md:absolute md:p-6">
      <h4 class="text-xl font-bold md:text-2xl">
        Quel que soit votre choix,<br /> vous <span
          class="text-madRed md:text-black">jouerez</span
        > dans un <span class="text-madRed">théâtre</span>
        devant votre <span class="text-madRed">public </span>!
      </h4>
      <p class="mt-2 text-base">
        2 dates pour l’Atelier Spectacle, 1 date pour le Cours de Théâtre et 4
        dates pour Act’Impro !
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-4">
    <div class="w-full max-w-6xl p-4 md:p-8">
      <h5 class="text-center text-2xl text-madRed md:text-left md:text-3xl">
        La pédagogie, la “Method”
      </h5>
      <p class="mt-4 text-justify leading-snug">
        La pédagogie chez Act In Mad repose à la fois sur la bienveillance,
        l’écoute et le plaisir d’apprendre.<span class="mt-3 block"></span> Elle
        est ensuite une combinaison des méthodes utilisées par vos professeur·e·s
        eux·elles-mêmes dans le cadre de l’exercice de leur métier et qu’iels modulent
        en fonction du groupe de comédien·ne·s que vous êtes.<span
          class="mt-3 block"></span>
        En tant qu’apprenti·e·s comédien·ne·s, vous aurez donc la chance de travailler
        avec plusieurs « méthodes ». L’objectif de cette pédagogie ultra personnalisée
        étant de monter un vrai spectacle, dans des conditions qui se rapprochent
        au plus près des conditions réelles du métier. C’est-à-dire avec rigueur
        et exigences de travail, tout en vous amusant bien sûr et en développant
        vos talents de comédien·ne·s !
      </p>
    </div>

    <div
      class="mt-5 flex w-full max-w-6xl flex-col gap-6 p-4 md:flex-row md:p-6"
    >
      <div class="flex flex-col justify-center text-left md:w-2/3 md:text-left">
        <h6 class="text-center text-2xl text-madRed md:text-left md:text-3xl">
          Pour qui ?
        </h6>
        <p class="mt-4 text-justify leading-snug">
          Chez Act In Mad, c'est avant tout l'envie de jouer qui rassemble.
          D’expérience, nous savons que la passion, l’envie d’apprendre, de
          progresser, de développer sa créativité et son sens artistique sont
          les atouts essentiels qui permettent à tout·e apprenti·e comédien·ne
          de donner le meilleur de lui·elle-même.<span class="mt-3 block"
          ></span>
          Ces puissants éléments moteurs, combinés aux savoir-faire et à la pédagogie
          avancée de nos professeur·e·s metteur·e·s en scène, offrent la garantie
          de <span class="text-madRed">
            spectacles uniques et exigeants où chaque comédien·ne peut
            s'épanouir et contribuer pleinement à la réussite du projet
            collectif.
          </span>
        </p>
      </div>
      <div class="flex items-center justify-center md:w-1/3 md:justify-end">
        <Image
          src={curtainLady}
          alt="Comédienne en jeu d'une pièce de théâtre ouvrant un rideau"
          class="hidden h-full w-full object-cover md:block"
        />
      </div>
    </div>

    <div
      class="flex w-full max-w-6xl flex-col gap-6 p-4 md:mt-5 md:flex-row md:p-6"
    >
      <div class="flex items-center justify-center md:w-1/3 md:justify-end">
        <Image
          src={groupFest}
          alt="Cours de theatre entrain de renforcer les liens"
          class="hidden h-full w-full object-cover md:block"
        />
      </div>
      <div class="flex flex-col justify-center text-left md:w-2/3 md:text-left">
        <h6 class="text-center text-2xl text-madRed md:text-left md:text-3xl">
          Pourquoi choisir Act In Mad ?
        </h6>
        <ul class="mt-4 ml-4 list-outside list-disc space-y-2 leading-snug">
          <li>Un nombre de participant·e·s strictement limité</li>
          <li>Des plannings précis établis en amont de chaque répétition</li>
          <li>
            Des metteur·e·s en scène passionné·e·s et bienveillant·e·s qui vous
            guideront avec pédagogie
          </li>
          <li>Un vrai théâtre, et un vrai public, pour votre spectacle</li>
          <li>Un possible tremplin vers Act In Mad la Compagnie</li>
          <li>Des frais d’inscription calculés au plus juste</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
