---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";

import theaterRoom from "../assets/photos/bank/theaterRoom.jpg";
import theaterRoomZoom from "../assets/photos/bank/theaterRoomZoom.jpg";
import clapClap from "../assets/photos/bank/clapClap.jpg";
import curtainLady from "../assets/photos/bank/curtainLady.jpg";

// import { Props } from 'astro';
// import SEO from '../layouts/Seo.astro';
// import Footer from '../components/Footer.astro';

// const seo: Props = {
//   title: 'Bienvenue - Act In Mad',
//   description: 'Découvrez nos cours de théâtre et spectacles amateurs à Paris.',
//   canonical: 'https://actinmad.art/',
// };
---

<!-- <SEO {...seo} /> -->
<Layout>
  <div class="relative h-[80vh] md:h-screen overflow-hidden">
    <img
      src={theaterRoom.src}
      alt="Cours de théâtre sur scène"
      class="absolute w-full h-full object-cover object-top"
      loading="lazy"
    />
    <div class="absolute top-[10%] w-full text-white text-center px-4 ml-4">
      <h1
        class="text-xl md:text-3xl text-left max-w-7xl mx-auto leading-snug text-madBack"
      >
        Découvrez <strong>Act In Mad</strong><br />
        Une expérience théâtrale unique<sup class="text-sm">*</sup> pour tous les
        amateurs,<br />
        des rôles sur mesure et des pièces originales, encadrée par des professionnel·le·s
        !
      </h1>
    </div>
    <h2
      class="absolute bottom-4 right-4 text-xs text-madBack md:text-xl italic"
    >
      <sup>*</sup> Oser le jeu • Frôler la folie !
    </h2>
  </div>

  <div
    class="bg-madRed flex flex-col md:flex-row justify-center items-center gap-4 md:gap-32 py-6 text-madBack text-2xl text-center"
  >
    <h3>Ateliers Spectacles</h3>
    <h3>Cours de Théâtre</h3>
    <h3>Ateliers Improvisation</h3>
  </div>

  <div class="overflow-hidden w-full h-[300px] md:h-[500px]">
    <img
      src={theaterRoomZoom.src}
      alt="Cours de théâtre sur scène, interaction entre élèves"
      class="w-full h-full object-cover object-center"
      loading="lazy"
    />
  </div>

  <div
    class="flex flex-col md:flex-row justify-center items-stretch gap-8 py-8 px-4 md:px-0"
  >
    <div
      class="bg-madRed rounded-lg shadow-lg p-6 w-full md:w-[30%] flex flex-col min-h-[300px]"
    >
      <h4 class="text-2xl font-semibold text-madBack mb-4 text-center">
        Ateliers Spectacles
      </h4>
      <p class="text-madBack text-justify flex-grow">
        Act In Mad réinvente les ateliers théâtre avec ses 'Ateliers
        Spectacles'.<br /><br />
        Selon votre temps et/ou votre budget, c’est vous qui choisissez un rôle spécifique
        dans une pièce originale rarement montée en atelier classique.<br /><br
        />
        Une expérience théâtrale unique, respectueuse des œuvres et accessible à
        tous les niveaux, où chaque rôle est une opportunité de créativité.
      </p>
    </div>
    <div
      class="bg-madRed rounded-lg shadow-lg p-6 w-full md:w-[30%] flex flex-col min-h-[300px]"
    >
      <h4 class="text-2xl font-semibold text-madBack mb-4 text-center">
        Cours de Théâtre
      </h4>
      <p class="text-madBack text-justify flex-grow">
        Pour les personnes qui préfèrent une approche traditionnelle, Act In Mad
        propose des cours de théâtre classiques.<br /><br />
        Découvrez les techniques de base du jeu : respiration, mémorisation, interprétation
        des émotions, diction, relaxation, improvisation.<br /><br />
        Développez votre spontanéité et votre connexion émotionnelle avec le texte
        et les personnages.
      </p>
    </div>
    <div
      class="bg-madRed rounded-lg shadow-lg p-6 w-full md:w-[30%] flex flex-col min-h-[300px]"
    >
      <h4 class="text-2xl font-semibold text-madBack mb-4 text-center">
        Ateliers Impro<sup class="text-sm">*</sup>
      </h4>
      <p class="text-madBack text-justify flex-grow">
        Venez découvrir notre cours d'improvisation théâtrale !<br /><br />
        Développez votre spontanéité et votre créativité dans une ambiance ludique
        et bienveillante.<br /><br />
        Chaque trimestre, mettez en pratique vos compétences lors d'un spectacle
        d'improvisation. Une expérience unique pour libérer votre potentiel artistique
        !<br />
        <p class="text-sm text-madBack text-justify">
          <sup>*</sup>Inscription possible au trimestre
        </p>
      </p>
    </div>
  </div>

  <div class="relative flex justify-center items-center w-full py-6">
    <img
      src={clapClap.src}
      alt="Public dans une salle de théâtre qui applaudit"
      class="hidden md:block w-full h-auto object-cover blur-xs"
      loading="lazy"
    />
    <div class="text-center p-4 md:p-6 md:absolute">
      <h5 class="text-xl md:text-4xl font-bold">
        Quel que soit votre choix,<br /> vous <span
          class="text-madRed md:text-black">jouerez</span
        > dans un <span class="text-madRed md:text-black">théâtre</span>
        devant votre <span class="text-madRed md:text-black">public !</span>
      </h5>
      <p class="text-base md:text-lg mt-2">
        2 dates pour l’Atelier Spectacle, 1 date pour le Cours de Théâtre et 3
        dates pour l’Improvisation !
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div class="w-full max-w-6xl p-4 md:p-8 text-center">
      <h6 class="text-madRed text-2xl md:text-3xl underline">
        La pédagogie, la “Method”
      </h6>
      <p class="mt-4 text-justify">
        La pédagogie chez Act in Mad repose à la fois sur la bienveillance,
        l’écoute et le plaisir d’apprendre.<br /><br />
        Elle est ensuite une combinaison des méthodes utilisées par vos professeurs
        eux-mêmes dans le cadre de l’exercice de leur métier et qu’ils modulent en
        fonction du groupe de comédien.ne.s que vous êtes.<br /><br />
        En tant qu’apprentis comédiens, vous aurez donc la chance de travailler avec
        plusieurs « méthodes ». L’objectif de cette pédagogie ultra personnalisée
        étant de monter un vrai spectacle, dans des conditions qui se rapprochent
        au plus près des conditions réelles du métier. C’est à dire avec rigueur
        et exigences de travail, tout en vous amusant bien sûr et en développant
        vos talents de comédien.ne.s !
      </p>
    </div>

    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 gap-6 mt-5">
      <div class="md:w-2/3 text-left md:text-left flex flex-col justify-center">
        <h6
          class="text-madRed text-2xl md:text-3xl text-center md:text-left underline"
        >
          Pour qui ?
        </h6>
        <p class="mt-4 text-justify">
          Chez Act In Mad, c'est avant tout l'envie de jouer qui rassemble.
          D’expérience, nous savons que la passion, l’envie d’apprendre, de
          progresser, de développer sa créativité et son sens artistique sont
          les atouts essentiels qui permettent à tout apprenti comédien de
          donner le meilleur de lui-même.<br /><br />
          Ces puissants éléments moteurs, combinés aux savoir-faire et à la pédagogie
          avancée de nos professeurs metteurs en scène, offrent la garantie de<span
            class="text-madRed"
          >
            spectacles uniques et exigeants où chaque comédien peut s'épanouir
            et contribuer pleinement à la réussite du projet collectif.
          </span>
        </p>
      </div>
      <div class="md:w-1/3 flex items-center justify-center md:justify-end">
        <img
          src={curtainLady.src}
          alt="Comédienne en jeu d'une pièce de théâtre ouvrant un rideau"
          class="hidden md:block w-full h-full object-cover"
          loading="lazy"
        />
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 gap-6 md:mt-5"
    >
      <div class="md:w-1/3 flex items-center justify-center md:justify-end">
        <img
          src={curtainLady.src}
          alt="Comédienne en jeu d'une pièce de théâtre ouvrant un rideau"
          class="hidden md:block w-full h-full object-cover"
          loading="lazy"
        />
      </div>
      <div class="md:w-2/3 text-left md:text-left flex flex-col justify-center">
        <h6
          class="text-madRed text-2xl md:text-3xl text-center md:text-left underline"
        >
          Pourquoi choisir Act in Mad ?
        </h6>
        <ul class="mt-4 list-disc list-inside">
          <li>Un nombre de participants strictement limité</li>
          <li>Des plannings précis établis en amont de chaque répétition</li>
          <li>
            Des metteurs en scène passionnés et bienveillants qui vous guideront
            avec pédagogie
          </li>
          <li>Un vrai théâtre, et un vrai public, pour votre spectacle</li>
          <li>Un possible tremplin vers Act In Mad la Compagnie</li>
          <li>Des frais d’inscription calculés au plus juste</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
