---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { DateTime } from "luxon";
import Layout from "../layouts/Layout.astro";
import NewArticles from "../components/NewArticles.tsx";
import { PUBLIC_PB_URL } from "astro:env/client";
import defImg from "../assets/defaultImg.jpg";

import { pb } from "../lib/pocketbase";
import type { Article } from "../type";

const records: Article[] = await pb
  .collection("articles")
  .getFullList({ filter: "isActive=true", sort: "-releaseDate" });

const staticArticleSlugs = records.map((article) => article.slug);
---

<Layout>
  <div class="bg-madBack flex flex-col items-center justify-center p-4">
    <div
      class="grid w-full max-w-6xl grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      <NewArticles client:load staticArticleSlugs={staticArticleSlugs} />
      {
        records.length === 0 ? (
          <div class="w-full items-center py-8 text-center">
            Les articles arrivent bientôt ...
          </div>
        ) : (
          records.map((article) => (
            <a
              href={`/articles/${article.slug}`}
              class="flex h-[600px] transform flex-col rounded-xl p-3 text-center shadow-2xl transition hover:scale-105"
            >
              <div class="flex-grow overflow-hidden rounded-xl">
                {article.images.length > 0 ? (
                  <img
                    src={`${PUBLIC_PB_URL}/api/files/${article.collectionId}/${article.id}/${article.images[0]}`}
                    alt={article.imgDescription}
                    class="h-92 w-full rounded-xl object-cover"
                    loading="lazy"
                  />
                ) : (
                  <div class="h-92 flex w-full items-center justify-center rounded-xl">
                    <Image
                      src={defImg}
                      alt={article.imgDescription}
                      class="h-full w-full rounded-xl object-cover"
                    />
                  </div>
                )}
              </div>

              <div class="flex flex-grow flex-col justify-between">
                <h2 class="text-xl font-bold">{article.title}</h2>
                <p class="text-justify text-sm">{article.subTitle} ...</p>
                <div class="mt-2 flex items-center justify-between">
                  <p class="flex items-center text-sm">
                    <Icon name="lucide:circle-plus" size="24" class="mr-1" />
                  </p>
                  <p class="text-sm italic">
                    {DateTime.fromSQL(article.releaseDate)
                      .setLocale("fr")
                      .toFormat("dd MMMM yyyy")}
                  </p>
                </div>
              </div>
            </a>
          ))
        )
      }
    </div>
  </div>
</Layout>
