---
import Layout from "../layouts/Layout.astro";
import PocketBase from "pocketbase";
import { API_URL } from "astro:env/client";
import defImg from "../assets/defaultImg.jpg";
import { DateTime } from "luxon";

const pb = new PocketBase(API_URL);
const records = await pb
  .collection("articles")
  .getFullList({ filter: "isActive=true", sort: "-releaseDate" });
---

<Layout>
  <div
    class="flex flex-col items-center justify-center min-h-screen bg-madBack p-4"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl w-full"
    >
      {
        records.length === 0 ? (
          <div class="w-full text-center text-gray-500 py-8">
            Les articles arrivent bientôt
          </div>
        ) : (
          records.map((article) => (
            <a
              href={`/articles/${article.slug}`}
              class="bg-madRed shadow-lg rounded-lg p-6 text-center hover:shadow-xl transition transform hover:scale-105 flex flex-col h-full"
            >
              {article.images.length > 0 ? (
                <img
                  src={`${API_URL}/api/files/articles/${article.id}/${article.images[0]}`}
                  alt={article.title}
                  class="w-full h-64 object-cover mt-2 rounded-md"
                  loading="lazy"
                />
              ) : (
                <div class="w-full h-64 flex items-center justify-center bg-gray-200 text-gray-500 rounded-md">
                  <img
                    src={defImg.src}
                    alt={article.title}
                    class="w-full h-64 object-cover mt-2 rounded-md"
                    loading="lazy"
                  />
                </div>
              )}

              <div class="flex flex-col justify-between h-full mt-4">
                <h2 class="text-xl font-bold text-madBack mt-4">
                  {article.title}
                </h2>

                <div class="flex justify-between mt-4">
                  <p class="text-sm text-madBack">
                    Par {article.writter || "Auteur anonyme"}
                  </p>
                  <p class="text-sm text-madBack">
                    Le
                    {DateTime.fromSQL(article.releaseDate)
                      .setLocale("fr")
                      .toFormat("dd MMMM yyyy")}
                  </p>
                </div>
              </div>
            </a>
          ))
        )
      }
    </div>
  </div>
</Layout>
