---
import archLogo from '../assets/archActInMad.svg';
import { Icon } from 'astro-icon/components';

const { links = [] } = Astro.props;
const currentPath = Astro.url.pathname;
---

<div class="mx-auto max-w-screen px-4 sm:px-6 lg:px-8">
  <div class="flex h-20 items-center justify-center">
    <div class="flex items-center mr-8">
      <img
        src={archLogo.src}
        alt="L'arche d'Act In Mad"
        class="h-10 w-auto -mt-1"
      />
    </div>

    <div class="hidden md:block">
      <nav aria-label="Global">
        <ul class="flex items-center gap-6">
          {
            links.map((link: any) => (
              <li>
                <a
                  href={link.href}
                  class={`${
                    currentPath.replace(/\/$/, '') ===
                    link.href.replace(/\/$/, '')
                      ? 'text-madRed'
                      : 'text-gray-500'
                  } hover:text-madEncart`}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <div class="block md:hidden">
      <button
        aria-expanded="true"
        id="menu-toggle"
        class="rounded p-2 text-gray-600 transition hover:text-madEncart"
      >
        <Icon id="menu-icon" name="lucide:book-open-text" size="28" />
      </button>
      <span class="text-madRed text-lg">
        {
          links.find(
            (link: any) =>
              link.href.replace(/\/$/, '') === currentPath.replace(/\/$/, '')
          )?.label || ''
        }
      </span>
    </div>

    <nav
      id="menu"
      class="absolute top-16 bg-gray-100 gap-4 p-4 shadow-md hidden"
    >
      <ul class="flex flex-col items-center gap-4">
        {
          links.map((link: any) => (
            <li>
              <a
                href={link.href}
                class={`${
                  currentPath.replace(/\/$/, '') ===
                  link.href.replace(/\/$/, '')
                    ? 'text-madRed'
                    : 'text-gray-500'
                } hover:text-madEncart`}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <script>
      const toggleButton = document.getElementById('menu-toggle');
      const menu = document.getElementById('menu');

      if (toggleButton) {
        toggleButton.addEventListener('click', () => {
          // Basculer la visibilité du menu
          menu?.classList.toggle('hidden');
        });
      }

      window.addEventListener('DOMContentLoaded', () => {
        menu?.classList.add('hidden');
      });
    </script>
  </div>

  <!-- Auth Links -->
  <!-- <div class="flex items-center gap-4">
  <div class="sm:flex sm:gap-4">
    {
          authLinks.map((authLink: any) => (
            <a
              href={authLink.href}
              class={`rounded-md px-5 py-2.5 text-sm font-medium shadow ${
                authLink.type === 'primary'
                  ? 'bg-madEncart text-white'
                  : 'bg-gray-100 text-madEncart'
              }`}
            >
              {authLink.label}
            </a>
          ))
        }
      </div> -->
</div>
