---
import "../styles/global.css";
import AstroFont from "./Font.astro";
import SEO from "./Seo.astro";

import Footer from "../components/static/Footer.astro";
import { ClientRouter } from "astro:transitions";
import RealtimeManager from "../components/RealTimeManager.tsx";
import Navbar from "../components/Navbar.tsx";
import LogoSrc from "../assets/logo/actInMadRedFullLogo.svg";

const links = [
  { label: "Accueil", href: "/" },
  { label: "Les Ateliers", href: "/Ateliers" },
  { label: "La Compagnie", href: "/Compagnie" },
  { label: "L'Equipe", href: "/Equipe" },
  { label: "Nos Valeurs", href: "/Valeurs" },
  { label: "Contact", href: "/Contact" },
  { label: "Le Mag'", href: "/LeMag" },
  { label: "Connexion/Inscription", href: "/ConnexionInscription" },
];

const isHomePage = Astro.url.pathname === "/";
const currentPath = Astro.url.pathname;

const jsonLD = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  name: "Act In Mad",
  description:
    "Cours de théâtre à Paris pour amateurs. Découvrez nos ateliers et spectacles créatifs.",
  image: "https://actinmad.art/images/actInMadRed.jpeg",
  url: "https://actinmad.art/",
  email: "mailto:contact@actinmad.art",
  priceRange: "€",
  address: {
    "@type": "PostalAddress",
    addressLocality: "Paris",
    addressCountry: "FR",
  },
  openingHours: "Mo-Su 09:00-21:00",
};
---

<!doctype html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <AstroFont />
    <SEO {...Astro.props.seo} />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLD)} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
  </head>
  <body class="bg-madBack">
    <RealtimeManager client:load />
    <header
      class={`sticky top-0 z-50 ${isHomePage ? "bg-black/100" : "bg-madBack/90"}`}
    >
      <Navbar
        links={links}
        currentPath={currentPath}
        isHomePage={isHomePage}
        logoSrc={LogoSrc.src}
        client:only
      />
    </header>

    <div id="scroll-watcher"></div>

    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
